i[class^=icon]{  //获取class开头为icon的标签
    display: inline-block;
    border-radius: 100%;
    background-color: $color-main;
    background-repeat: no-repeat;
}
.icon-w-44{ width: 44px;height: 44px; }
.icon-help{
    background-image: url(~@/assets/问号.png);
    background-position: 50%;
}
.icon-search{
    background-image: url(~@/assets/搜索.png);
    background-position: 50%;
}
.icon-location{
    background-image: url(~@/assets/位置.png);
    background-position: 50%;
}
.icon-mi{
    background-image: url(~@/assets/我的.png);
    background-position: 50%;
}

.icon-yuanshen-1{
    background-image: url(~@/assets/mine/anemo.png);
}
.icon-yuanshen-2{
    background-image: url(~@/assets/mine/dendro.png);
}
.icon-yuanshen-3{
    background-image: url(~@/assets/mine/electro.png);
}
.icon-yuanshen-4{
    background-image: url(~@/assets/mine/pyro.png);
}
.icon-yuanshen-5{
    background-image: url(~@/assets/mine/hydro.png);
}