$color-main:#34393f;
$color-blur:#00a3ff;
$color-cars:#e1e1e1;

@mixin webkit($type, $value) {
    -webkit-#{$type}:$value;
    -moz-#{$type}:$value;
    -ms-#{$type}:$value;
    -o-#{$type}:$value;
    #{$type}:$value;
}

@mixin webkitA($type, $value) {
    #{$type}:-webkit-#{$value};
    #{$type}:-moz-#{$value};
    #{$type}:-ms-#{$value};
    #{$type}:-o-#{$value};
    #{$type}:$value;
}