.cars-form-ui {
  .el-input__inner {
    background-color: #202429 !important;
    border: 1px solid #202429 !important;
    color: #fff !important;
    &::-webkit-input-placeholder {
      color: rgba(255,255,255,.2);
    }

    &::-moz-placeholder {
      color: rgba(255,255,255,.2);
    }

    &:-moz-placeholder {
      color: rgba(255,255,255,.2);
    }

    &:-ms-input-placeholder {
      color: rgba(255,255,255,.2);
    }
  }
  .el-form-item{
      margin-bottom: 20px !important;
  }
  .button-vcode{
      position: absolute;
      z-index: 2;
      width: 100px;
      top: 4px;
      right: 4px;
      height: 32px;
      border-radius: 5px;
      text-align: center;
      line-height: 32px;
      color: #fff;
      outline: none;
      background-color: #34393f;
      border: none;
      font-size: 12px;
      cursor: pointer;
  }
}
.button-back{
    display: block;
    width: 100%;
    
}