.cars-item {
  width: 505px;
  margin: auto;
  padding: 30px 30px 0;
  background-color: #fff;
  border-radius: 24px;
  @include webkit(box-shadow, 0 0 18px 0 rgba(0, 0, 0, 0.2));
  @include webkit(box-sizing, border-box);
  header {
    display: flex;
    h4,
    p {
      flex: 1;
    }
  }
} 
.cars-logo {
  img {
    display: inline-block;
    height: 34px;
    margin-right: 10px;
    vertical-align: middle;
  }
  .name {
    font-size: 16px;
  }
}
.cars-attr {
  text-align: right;
  line-height: 34px;
  opacity: 0.5;
}

.cars-content {
  position: relative;
  margin: 11px 0 7px 0;
  overflow: hidden;
  img {
    float: right;
    height: 120px;
  }
  .info {
    display: flex;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  .car-number {
    font-size: 18px;
  }
  .car-electric {
    margin-top: 10px;
    display: inline-block;
    li {
      display: inline-block;
      width: 7px;
      height: 24px;
      margin-right: 3px;
      background-color: #e1e1e1;
      border-radius: 100px;
    }
    @for $i from 1 to 10 {
      &.active-li-#{$i} {
        li:nth-child(-n + #{$i}) {
          @include webkitA("background", linear-gradient(#17a8fa, #108dd9));
        }
      }
    }
  }
  .distance {
    display: inline-block;
    position: relative;
    left: 10px;
    bottom: 3px;
    sub {
      opacity: 0.7;
    }
    strong {
      font-size: 18px;
      margin: 0 2px;
      position: relative;
      top: 2px;
    }
  }
}
.parking-link {
  position: relative;
  display: block;
  border-top: 1px solid #e1e1e1;
  color: $color-main;
  opacity: 0.7;
  line-height: 50px;
  &:after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    width: 8px;
    height: 8px;
    margin-top: -4px;
    border-top: 1px solid #000;
    border-right: 1px solid #000;
    @include webkit(transform, rotate(45deg));
  }
}

.cars-detailed {
  // display: none;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  padding-top: 0;
  .scroll{
    height: 100%;
    overflow-y: auto;
  }
  .column {
    position: relative;
    font-size: 0.2rem;
    line-height: 0.7rem;
    border-bottom: 1px solid $color-cars;
    margin-bottom: 0.19rem;
    display: flex;
    align-items: center;
    .close {
      position: absolute;
      right: 0;
      display: inline-block;
      width: 0.26rem;
      height: 0.26rem;
      cursor: pointer;
      &:before,
      &:after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -1px;
        height: 20px;
        margin-top: -10px;
        border-left: 2px solid #999c9f;
      }
      &:before {
        @include webkit(transform, rotate(45deg));
      }
      &:after {
        @include webkit(transform, rotate(135deg));
      }
    }
  }
}
.clearfix{
  overflow: hidden;
}
.pull-right {
  float: right;
  font-size: 22px;
}
.pull-left {
  float: left;
  font-size: 0.24rem;
}

.cars-electric-box{
  margin-top: 20px;
  padding: 15px;
  border-radius: 10px;
  background-color: #fff;
  @include webkit(box-shadow,0 0 10px 0 rgba(0,0,0,.1));
  .e-bg{
    display: block;
    height: 8px;
    background-color: $color-cars;
    border-radius: 100px;
  }
  .e-high{
    position: absolute;
    background-color: $color-blur;
    top: 0;
    left: 0;
    height: 100%;
  }
}
.info{
  margin: 32px 0 28px;
}
.select-car-btn{
  position: absolute;
  left: 50%;
  margin-left: -100px;
  bottom: -42px;
}
.cars-type-list{
  li{
    height: 50px;
    padding: 0 20px 0 23px;
    background-color: #f3f3f3;
    border-color: #f3f3f3;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    line-height: 50px;
    font-size: 18px;
    margin-bottom: 15px;
    // box-sizing: border-box;
    &.current{
      border-color: #0f9cee;
    }
  }
  .name{
    float: left;
  }
  .price{
    float: right;
  }
}
.clause-doc{
  overflow: hidden;
  margin-top: 20px;
  i{
    float: right;
    width: 22px;
    height: 22px;
    border-radius: 100px;
    background-color: #cccccc;
    display: flex;
    justify-content: center;
    &.current{
      background-color: $color-main;
    }
    &:before{
      content: '';
      width: 9px;
      height: 6px;
      display: block;
      margin-top: 5px;
      border-left: 2px solid #fff;
      border-bottom: 2px solid #fff;
      @include webkit(transform,rotate(-45deg));
    }
  }
}